.profile{
    height: 250px;
    border-radius: 100%;
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }

  .lead{
    color: whitesmoke;
  }
  .nav-link{
    color: whitesmoke;
  }
  .active{
    background-color: none;
    outline-color: whitesmoke;
    color: whitesmoke;
  }
  .team{
    align-items: center;
    text-align: center;
  }
  .dev{
    align-items: center;
    height: 100px;
  }
  .ved{
    align-items: center;
    height: 100px;
  }
  .designer{
    align-items: center;
    height: 100px;
    background-color: white;
  }
  .follous{
    color: whitesmoke;
   }